webapp/src/main/webapp/schema/schema.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="userRequest">
  <xs:complexType>
    <xs:sequence>
		<xs:element name="qr" type="xs:string"/>
		<xs:element name="id" type="xs:string" />
		<xs:element name="timestamp" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:element>

</xs:schema>